<div class="topbar">
    <nav class="topbar-nav">
        <NavLink href="/" Match="NavLinkMatch.All">Hem</NavLink>
        <NavLink href="/news">Nyheter</NavLink>
        <NavLink href="/horses">Våra Hästar</NavLink>
        <NavLink href="/about">Om Stall Nysäter</NavLink>
        <NavLink href="/projects">Projekt</NavLink>
        <NavLink href="/memorial">Hästar vi minns</NavLink>
    </nav>
</div>