@page "/about"

<PageTitle>Om oss</PageTitle>

<h1>Om oss</h1>

<div class="content-card">
    <p>
        Här kan du skriva om Stall Nysäter, verksamheten, gården och ert arbete med hästarna.
    </p>
</div>