@page "/horses"

<div class="page-section">
    <h1>Våra Hästar</h1>

    <div class="horse-grid">

        <a class="horse-card-link" href="/horses/caracas-stecca">
            <div class="horse-card">
                <img src="images/horses/caracas/caracas01.jpg" class="horse-card-image" />
                <div class="horse-card-body">
                    <h3>Caracas Stecca (IT)</h3>
                </div>
            </div>
        </a>

        <a class="horse-card-link" href="/horses/hackels-helios">
            <div class="horse-card">
                <img src="images/horses/helios/helios01.jpg" class="horse-card-image" />
                <div class="horse-card-body">
                    <h3>Hackels Helios</h3>
                </div>
            </div>
        </a>

        <a class="horse-card-link" href="/horses/midsummer-express">
            <div class="horse-card">
                <img src="images/horses/midde/midde01.jpg" class="horse-card-image" />
                <div class="horse-card-body">
                    <h3>Midsummer Express</h3>
                </div>
            </div>
        </a>

    </div>
</div>